@page "/"
@attribute [StreamRendering(true)]
@* @attribute [RenderModeServer] *@
@inject IMovieReviewService MovieReviewService


<PageTitle>Movie Reviews</PageTitle>

<h1>Movies</h1>

@if(Movies is null)
{
    <h3>Loading...</h3>
}
else
{
    ///Display the movies in a grid 
    @for (int x = 0; x <= Movies.Count / 4; x++) //Divide the movies up by 4
    {
        MovieModel[] movieGroup = Movies.Skip(x * 4).Take(4).ToArray();

        <div class="row">
           
            
            @foreach (MovieModel movie in movieGroup)
            {
                /// Call Child component (MovieItem)
                <MovieItem Movie ="@movie" />

            }

        </div>

    }

}

@code{
    List<MovieModel>? Movies = null;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        Movies = MovieReviewService?.GetMovies();
    }

}