@page "/"
@attribute [StreamRendering(true)]
@using BlazorMovieReview.Models
@using BlazorMovieReview.Services
@inject IMovieReviewService MovieReviewService


<PageTitle>Index</PageTitle>

<h1>Movies</h1>

@if(Movies is null)
{
    <h3>Loading...</h3>
}
else
{
    ///Display the movies in a grid 
    @for (int x = 0; x <= Movies.Count / 4; x++) //Divide the movies up by 4
    {
        MovieModel[] movieGroup = Movies.Skip(x * 4).Take(4).ToArray();

        <div class="row">

            @foreach (MovieModel movie in movieGroup)
            {
                <div class="col-md-3 mb-2">
                    <a href="/MovieReview/@movie?.Id">
                        <img class="img-thumbnail" src="@movie?.ImageUrl" />
                        <div class="card-body">
                            <h5>
                                @movie?.Title
                            </h5>
                            <p class="card-text">
                                <b>@movie?.Description</b>
                            </p>
                        </div>
                        </a>
                </div>

            }

        </div>

    }

}

@code{
    List<MovieModel>? Movies = null;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        Movies = MovieReviewService?.GetMovies();
    }

}